#standard gitignore for Flightphase addons.
#jamie :: figured I'd use it too. :)

#xcode files
*.mode*
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata/

#builds
build/
obj/
*.o
*.app

#codeblocks files
apps/*/*/*.layout
apps/*/*/*.depend
apps/*/*/bin/clickToLaunch*
apps/*/*/bin/libs
apps/*/*/obj

#mac files
.DS_Store

.mailmap
*.app
*.dSYM
example/bin/.tmp
bin/.tmp
obj/
**/build-example-Desktop-Debug
**/build-example-Desktop-Release
example/bin/example
example/bin/example_debug
